<div class="loginContainer">
    <div class="title">Sign up today!</div>
    <form id="signUp" name="signUp" method="POST" novalidate>
        {{!-- first name --}}
        <div class="inputBox">
            <label for="first-name">First Name</label><br />
            <input type="text" name="firstName" id="first-name" autocomplete="given-name" placeholder="John"
                value="{{firstName}}" title=" Your first name here please" /><br />
            <div class="loginAlert"><span> {{msgFN}} </span></div>
        </div>
        <!--last name-->
        <div class="inputBox">
            <label for="last-name">Last Name</label><br />
            <input type="text" name="lastName" id="last-name" autocomplete="family-name" placeholder="Doe"
                value="{{lastName}}" /><br />
            <div class="loginAlert"><span> {{msgLN}} </span></div>
        </div>
        <!-- email address-->
        <div class="inputBox">
            <label for="email">Email address</label><br />
            <input type="email" name="email" id="email" autocomplete="email" placeholder="email@email.com" size="20"
                value="{{email}}" />
            <div class="loginAlert"><span> {{msgId}} </span></div>
        </div>
        {{!-- password --}}
        <div class="inputBox">
            <label for="newPassword">Password</label><br />
            <input type="password" name="password" id="password" autocomplete="new-password" />
            <div class="loginAlert"><span> {{msgPwd}} </span></div>
        </div>
        <input type="submit" value="Sign Up" />
    </form>
</div>