<div class="loginDashboard">
    <h3><strong>{{user.fName}} {{user.lName}}'s Data Entry dashboard</strong></h3><br />
    <h5> id : {{user.email}} <br /><br />
        first name : {{user.fName}} <br /><br />
        last name : {{user.lName}}</h5><br />
    <button type="button" id="createMealKit" class="btnMealKit">create meal kit</button><br /><br />
    <button type="button" id="viewMealKits" class="btnViewAllMeals">view all meals</button><br /><br />
</div>