<div class="loginDashboard">
    <h3><strong>{{user.fName}} {{user.lName}}'s Customer dashboard</strong></h3><br />
    <h5> id : {{user.email}} <br /><br />
        first name : {{user.fName}} <br /><br />
        last name : {{user.lName}}</h5><br />
</div>